* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: relative;
    
}
.clear{
    clear:both;
}
.btn-top{
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    font-size: 18px;
    display: none;
}
.open-btn-top{
    display: block;
    cursor: pointer;    
}
.a-btn-top{
    text-decoration: none;
}
#header {
 height: 46px;
 background-color: #000;
 position:fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,.subnav {
    list-style-type: none;
}
#nav >li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}

#nav-arrow-down {
    font-size: 14px;
}

#nav >li:hover >a,
#nav .subnav li:hover a {
    background-color: #ccc ;
    color: #000 ;
    
}

#nav  li:hover .subnav {
    display : block;
}
#nav .subnav {
    display:none;
    min-width: 160px;
    position:absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
#nav .subnav a {
    color: #000;
    padding: 0 24px;
    line-height: 38px;
}



#nav >li >a {
    color : #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
    
}

#slider {
    margin-top: 46px;
    position: relative;
}

#slider #img {
    width :100%;
    height : 730px;
}
#content {

}

#content .content-section{
    width : 800px;
    padding: 64px 0;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 78px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    color: rgb(105, 103, 103);
    margin-bottom: 15px;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members{
    margin-top:32px;
}
#content .members-name{
    text-align: center;
}
#content .members-item {
    width : 140px;
    height: 210px;
    display: inline-block;
    width:24%;
}

#content .members-item img {
    width :95%;
    height: 160px;
    margin-top: 15px;
}
#content .members-item img:hover{
    opacity: 0.6;
    cursor: pointer;
}
.text-while{
    color: #fff !important;
}
#content .tour-section {
    background-color: #000;
    padding: 64px
}
.tickets-section{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-section li {
    font-size: 15px;
    padding : 8px 16px;
    border-bottom: solid #ccc 1px;
}

.tickets-section li .sould-out{
    list-style: none;
    height : 23px;
    font-size: 15px;
    background:red;
    margin: 0 0 0 16px;
    padding : 3px 4px;
}
.quantity{
    float : right;
    background-color: #000;
    width : 24px;
    height : 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
#content .places-list{
    margin-top:32px;

}

#content .places-item{
    float: left;
    width: 33.3333333333333%;
    padding: 0 6px;
    margin-bottom: 32px;

}
#content .place-img{
    width : 100%;
    display: block;
}
#content .place-img:hover{
    opacity: 0.6;
}

.place-content{
    background: #fff;
    height: 205px;
    font-size: 15px;
    padding: 0.15px 16px;
}
.place-heading{
    padding: 15px 0;
}
.place-time{
    padding: 12px 0;
}
#content .context{
    padding: 15px 0;
    text-align: justify;
    margin-bottom: -2px;

}
.place-buy-btn{
    text-decoration: none;
    color : #fff;
    background-color: #000;
    margin-bottom: 16px;
    padding : 11px 16px;
}
.place-buy-btn:hover{
    background-color:#ccc;
    color : #000;
}
#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #000;
}
.social{
    font-size:24px;
}
.social a{
    text-decoration: none;
}
.social a:hover{
    opacity: 0.6;
}
.copyright{
    font-size:15px;
    margin: 15px 0;
    color: #fff;
}
.modal{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 46px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close:hover{
    background-color:#ccc;
    cursor: pointer;
}
.modal-container{
    background-color:#fff;
    width : 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease-in-out .6s;
}
.modal-header{
    background-color: #009688;
    height : 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.bag-icon{
    margin-right: 12px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    margin: 15px 0;
}
.modal-input{
    padding: 8px;
    width: 100%;
    margin-bottom: 24px;
}
.modal-button{
    display: block;
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    background-color: #009688;
}
.modal-button:hover{
    background-color:#ccc;
    cursor: pointer;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:'';
    display:block;
    clear: both;
}

.col {
    float : left;
    padding-left: 8px;
    padding-right: 8px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.contact-content{
    padding: 32px 0;
}
.contact-icon{
    margin-right: 12px;
}
.contact-p{
    margin-bottom: 5px;
    font-size: 18px;
}
.contact-form{
    font-size: 15px;
    position: relative;
}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    position: absolute;
    font-size: 15px;
    right: 8px;
    width: 80px;
    height: 32px;
    background: #000;
    color: #fff;
}
.form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

